@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap");
.App {
  color: white;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
/*margin move*/
@media only screen and (max-width: 750px) {
  .App {
    flex-direction: column;
    margin-top: 150px;
  }
}

@media only screen and (max-height: 639px) {
  .App {
    flex-direction: column;
    margin-top: 200px;
  }
}
